.section-range {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;

}
.grille {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-gap:8px;
}
.title {
    text-align: center;
    height: 30px;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cont {
    background-color: rosybrown;
    margin: 30px;
    

}